<!-- This is for sorting the data-->
<mat-form-field appearance="fill">
  <mat-label>Sort By</mat-label>
  <mat-select [(value)]="selected" (selectionChange)="ngOnInit($event.value)">
    <mat-option value="title">Title</mat-option>
    <mat-option value="release_date">Release Date</mat-option>
  </mat-select>
</mat-form-field>

<!-- This is to display data -->
<table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> S No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
    </ng-container>

    <ng-container matColumnDef="release_date">
        <th mat-header-cell *matHeaderCellDef> Release Date </th>
        <td mat-cell *matCellDef="let element"> {{element.release_date}} </td>
    </ng-container>

    <ng-container matColumnDef="num_actors">
        <th mat-header-cell *matHeaderCellDef> No. of Actors </th>
        <td mat-cell *matCellDef="let element"> {{element.num_actors}} </td>
    </ng-container>

    <ng-container matColumnDef="upvotes">
        <th mat-header-cell *matHeaderCellDef> Upvote </th>
        <td mat-cell *matCellDef="let element"> 
            <span class="cntr">{{element.upvotes}}</span>
            <span (click)="upVote(element.id)" class="click_btn like_btn">+1</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="downvotes">
        <th mat-header-cell *matHeaderCellDef> Downvote </th>
        <td mat-cell *matCellDef="let element">
            <span class="cntr">{{element.downvotes}}</span>
            <span (click)="downVote(element.id)" class="click_btn dislike_btn">-1</span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
